
/*NAVBAR*/
#theNavbar {
    border-radius: 0;
    background-color: transparent !important;
}

/*Navbar Links*/
#theNavbar a {
    color: #fff;
    font-size: 18px;
}
#theNavbar a:hover {
    /*text-shadow: 0px 1px 4px rgb(93, 255, 128);*/
    text-shadow: 0px 1px 4px rgb(248, 63, 103);
}

#submitBtn {
    width: 100px;
    padding: 5px;
    background-color: rgb(124, 172, 149);
    border: 0;
    border-radius: 5px;
}