
.reviewContainer {
    background-color: #f2f2f2;
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin: 10px;

    -moz-box-shadow: 0 0 10px #222;
    -webkit-box-shadow: 0 0 10px #222;
    box-shadow: 0 0 10px #222;
}

.textAndNameWrapper {
  overflow:hidden;
  /*background-color: aqua;*/
}
.nameDiv {
  float:left;
  height: auto; 
  width:100px;
  text-align: center;
  font-weight: bold;
 /* background-color: lightblue;*/
}
.textDiv {
  overflow:hidden;
  padding: 5px;
 /* background-color: green; */
}
.ratingDiv {
  height: auto;
  width: auto;
  text-align: left;
 /* background-color: chartreuse; */
}



/*Desktop Mode*/

 /* End of Desktop Mode*/
   
 
   /*Mobile Potrait mode*/
   
   @media (min-width: 360px) and (max-width: 700px) {
    .reviewContainer {
      background-color: #f2f2f2;
      width: 300px;
      height: auto;
      border-radius: 5px;
      border: 0;
      padding: 5px;
      margin: 10px;
  
      -moz-box-shadow: 0 0 10px #222;
      -webkit-box-shadow: 0 0 10px #222;
      box-shadow: 0 0 10px #222;
  }
  
  .textAndNameWrapper {
    overflow:hidden;
    /*background-color: aqua;*/
  }
  .nameDiv {
    float:left;
    height: auto; 
    width:100px;
    text-align: center;
    font-weight: bold;
   /* background-color: lightblue;*/
  }
  .textDiv {
    overflow:hidden;
    padding: 5px;
   /* background-color: green; */
  }
  .ratingDiv {
    height: auto;
    width: auto;
    text-align: left;
   /* background-color: chartreuse; */
  }
   }
   
   /* Tablets, Ipads: portrait mode.*/
   
   @media (min-width: 768px) and (max-width: 1024px) {
    .reviewContainer {
      background-color: #f2f2f2;
      width: 300px;
      height: auto;
      border-radius: 5px;
      border: 0;
      padding: 5px;
      margin: 10px;
  
      -moz-box-shadow: 0 0 10px #222;
      -webkit-box-shadow: 0 0 10px #222;
      box-shadow: 0 0 10px #222;
  }
  
  .textAndNameWrapper {
    overflow:hidden;
    /*background-color: aqua;*/
  }
  .nameDiv {
    float:left;
    height: auto; 
    width:100px;
    text-align: center;
    font-weight: bold;
   /* background-color: lightblue;*/
  }
  .textDiv {
    overflow:hidden;
    padding: 5px;
   /* background-color: green; */
  }
  .ratingDiv {
    height: auto;
    width: auto;
    text-align: left;
   /* background-color: chartreuse; */
  }
   }